ANTHROPIC_AUTH_TOKEN=sk-79f2433c719449268e7e1e401bf028ac
ANTHROPIC_BASE_URL=https://dashscope.aliyuncs.com/apps/anthropic
ANTHROPIC_DEFAULT_HAIKU_MODEL=qwen3.5-flash
ANTHROPIC_DEFAULT_OPUS_MODEL=qwen3.6-plus
ANTHROPIC_DEFAULT_SONNET_MODEL=qwen3.5-plus
ANTHROPIC_MODEL=qwen3.6-plus
API_TIMEOUT_MS=3000000
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
DISABLE_TELEMETRY=1
